.footer_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    /* Example background color */
    color: #fff;
    /* Example text color */
    padding: 20px;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1e1e;
    /* Example background color */
    color: #fff;
    /* Example text color */
    padding: 20px;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.connect_logo {
    width: 200px;
    display: flex;
    justify-content: space-around;

}

.connect_logo img {
    width: 30px;
}